## mako
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>
<%!
  from datetime import date
%>
<!-- footer overrides for stanford theme go here -->
<div class="wrapper-footer">
    <footer id="footer">
    	<div id="footerTop">
        	<div id="footerTopCenter">
            	<p>The goal is not to retreat from the realities and challenges of modern life, but to help men and women discover life - as Jesus put it - “in all its fulness” ... right in the middle of common things and daily experience.</p>
         	</div>
      	</div>
    	<div id="footerBottom" class="group">
        	<div id="footerBottomCenter">
        		<p id="footerCopy">&copy; 2015 Cornerstone Community  |  abn: 49 066 809 612</p>
              	<div id="footerLinksTabletWrap">  
                    <div id="footerIcons" class="group">
                        <a href="https://www.facebook.com/Cornerstone.Community.Australia" id="fFace" target="_blank" title="Visit us on Facebook"></a>
                        <a href="http://www.youtube.com/c/CornerstoneEduAustralia" id="fTube" target="_blank" title="Visit us on YouTube"></a>
                    </div>
                    <span class="siteCredit">Website by <a href="http://www.heartburst.com.au"><img src="<?php echo $this->getThemePath()?>/img/logo-hb.png"></a></span> 
           	</div>           
         	</div>
        </div>
    </footer>
  <!--<footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('about')}">${_("About")}</a></li>
          <li><a href="${reverse('about')}#careers">${_("Careers")}</a></li>
          <li><a href="${reverse('about')}#contact">${_("Contact")}</a></li>
          <li><a href="${reverse('tos')}">${_("Terms of Service")}</a></li>
          <li><a href="${reverse('tos')}#privacy">${_("Privacy Policy")}</a></li>
          <li><a href="${reverse('tos')}#honor">${_("Honor Code")}</a></li>
          <li><a href="${reverse('tos')}#copyright">${_("Copyright")}</a></li>
        </ol>
      </nav>
    </div>
    <div class="references">
      <span>Built on <a href="http://open.edx.org">OpenEdX</a>.</span>
    </div>

    <div class="copyright">
        <p><span>
            ${_('Copyright {year}. All rights reserved.').format(
                year=date.today().year
            )}
        </span></p>
    </div>
  </footer>-->
</div>
