
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML
%>

<link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Titillium+Web:200|Open+Sans' rel='stylesheet' type='text/css'>
<link href="${static.url("css/content.css")}" rel="stylesheet" >
<link href="${static.url("css/layout.css")}" rel="stylesheet" >
<link href="${static.url("css/font-awesome.css")}" rel="stylesheet" >
<link href="${static.url("css/changes.css")}" rel="stylesheet" >
<link href="${static.url("css/elements.css")}" rel="stylesheet">

<script src="${static.url("js/jquery-1.8.2.min.js")}"></script>
<script src="${static.url("js/changes.js")}"></script>
<script src="${static.url("js/jquery.sidr.min.js")}"></script>
<script type="text/javascript" src="${static.url("js/jquery.cycle2.js")}"></script>
<script src="${static.url("js/respond.min.js")}"></script>

<script>
$(document).ready(function() {
	$('#trigger').sidr({
		name:'sidr',
		side:'right',
		source:'#TopNav'
	});
	
});
</script>

<!-- smooth scroll script -->
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>