#homeSocial {
  position: absolute;
  max-width: 970px;
  width: 100%;
  bottom: 20px; }

#homeSocial a {
  float: right;
  margin-right: 0;
  margin-left: 10px; }

#mainContent.home {
  margin-top: -90px;
  padding-top: 90px; }

#bannerCenter {
  margin: 170px auto 0; }

#bannerText {
  margin: 0; }

header {
 /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 10px -12px #000;
  -webkit-transition: 0.4s all;
          transition: 0.4s all;*/ }
          
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 10px -12px #000;
  -webkit-transition: 0.4s all;
          transition: 0.4s all; }

#header.headerFixed {
  height: 90px;
  background: white;
  box-shadow: 0 2px 50px -33px #000, 0 1px 0 1px #e6e7d4; }

#TopNav {
  -webkit-transition: 0.4s all;
          transition: 0.4s all; }

.headerFixed nav#TopNav {
  margin-top: 0; }

.logo img {
  max-height: 130px;
  margin: 0 auto;
  -webkit-transition: 0.5s all;
          transition: 0.5s all; }

.logo {
  margin-left: 0;
  max-height: 130px;
  -webkit-transition: 0.5s all;
          transition: 0.5s all; }

.headerFixed .logo img {
  max-height: 70px; }

#scrollLink {
  background: none;
  width: 70px;
  height: 70px;
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 1px;
  -webkit-animation: glow 1s alternate infinite cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation: glow 1s alternate infinite cubic-bezier(0.55, 0.085, 0.68, 0.53); }

@media screen and (max-height: 500px) {
  #scrollLink, #homeSocial {
    display: none; }
  #bannerCenter {
    margin-top: 110px;
    width: 50%; } }

.css-arrow {
  position: absolute;
  top: 26px;
  left: 26px;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  overflow: hidden; }

.css-arrow-bottom {
  top: 35px;
  left: 35px; }

.css-arrow-inside {
  position: absolute;
  left: 9px;
  top: -16px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: block;
  width: 26px;
  height: 26px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-animation: glow 1s alternate infinite cubic-bezier(0.55, 0.085, 0.68, 0.53);
          animation: glow 1s alternate infinite cubic-bezier(0.55, 0.085, 0.68, 0.53); }

@-webkit-keyframes moveDown {
  from {
    top: 13px;
    left: 13px;
    opacity: 0; }

  from {
    top: 34px;
    left: 34px;
    opacity: 1; } }

@keyframes moveDown {
  from {
    top: 13px;
    left: 13px;
    opacity: 0; }

  from {
    top: 34px;
    left: 34px;
    opacity: 1; } }

@-webkit-keyframes glow {
  from {
    box-shadow: inset 0 0 0px #fff, 0 0 0px #fff; }

  to {
    box-shadow: inset 0 0 10px #fff, 0 0 10px #fff; } }

@keyframes glow {
  from {
    box-shadow: inset 0 0 0px #fff, 0 0 0px #fff; }

  to {
    box-shadow: inset 0 0 10px #fff, 0 0 10px #fff; } }

.cycle-slide {
  background-position: center bottom; }

@media all and (max-width: 1080px) {
  #homeSocial {
    max-width: 100%;
    right: 60px; } }
    
    
#events {
  width:100%;
  padding:45px 0;
}
/* Page List CSS*/
#events .ccm-block-page-list-title a {
  margin:0;
  font-size:1.14285714285714em; /* 16 / 14 */
  line-height:1.4em;
  padding-left:60px;
  font-weight: 400;
  text-transform: uppercase; 
  display: block;
}
#events .ccm-block-page-list-page-entry {
  margin-bottom:36px;
}
#events .ccm-block-page-list-title a {display:block;}

/* RSS Feed CSS*/
#events .ccm-block-rss-displayer-item-date {
  color:#525252;
  padding-left:60px;
}
#events .ccm-block-rss-displayer-item-title a {
  margin:0;
  font-size:1.14285714285714em; /* 16 / 14 */
  line-height:1.4em;
  padding-left:60px;
  font-weight: 400;
  text-transform: uppercase; 
  display: block;
}
#events .ccm-block-rss-displayer-item {
  margin-bottom:36px;
}
#events .ccm-block-rss-displayer-item-title a {display:block;}

#upcoming .ccm-block-page-list-title a {
  background:url(../img/icon-calendar.png) no-repeat left top;
}
#recent .ccm-block-rss-displayer-item-title a {
  background:url(../img/icon-speaker.png) no-repeat left top;
}
#latest .ccm-block-rss-displayer-item-title a {
  background:url(../img/icon-pencil.png) no-repeat left top;
  padding-bottom:25px
}

#events .viewLink {
  text-transform:uppercase;
  font-size:1em;
}
#upcoming .viewLink, #upcoming .ccm-block-page-list-title a {
  color:#808713;
}
#recent .viewLink, #recent .ccm-block-rss-displayer-item-title a {
  color:#A53906;
}
#latest .viewLink, #latest .ccm-block-rss-displayer-item-title a {
  color:#CD6C00;
}

  @media screen and (max-width:805px) {
    #events {padding:0;}
    #events .viewLink {
      float:right;
    }
    #events .ccm-block-rss-displayer-wrapper {
      width:100%;
    }
    #events .columns3 {
      width:84.375%;
      margin:0 auto;
      padding:35px 7.8125%;
    }
    #events #recent {
      background:#FAF7F0;
    }
  }
